/* styles.css */

.single-question {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: antiquewhite;
  }
  
  .question-text {
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .choices {
    margin: 0px 50px;
  }
  
  .choice {
    margin-bottom: 5px;
  }
  
  .response-form {
    margin-top: 10px;
  }
  
  .choices p{
    display:flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 18px;
  }